
library ieee;
use ieee.std_logic_1164.all;

entity <<entity_name>> is
<<generics>>
<<ports>>
end <<entity_name>>

architecture behavioral of <<entity_name>> is

<<components_and_signals>>

begin

<<assignments>>

<<procedures>>

end behavioral; 