
library ieee;
use ieee.std_logic_1164.all;
use ieee.std_numeric.all;

entity <<entity_name>> is
<<generics>>
<<ports>>
end <<entity_name>>

architecture behavioral of <<entity_name>> is

<<components>>

<<signals>>

begin

<<assignments>>

<<instantiations>>

<<procedures>>

end behavioral; 